
/* generics */
body{
    margin: 0;
    background-color: lightgray;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* header */
header{
    background-color: white;
    padding: 10px;
}

.logo{
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}

h1{
    color: black;
    font-size: 40px;
    display: inline;
    vertical-align: middle;
}

/* container */
.container{
    width: 700px;
    background-color: white;
    margin: 40px auto;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #888888;
}

.container-header{
    border-bottom: 2px solid lightgray;
}

.container-container-header{
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    }

.buttons{
    margin: 20px 0;
}

/* checklist */
#add-task{
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    padding: 5px 10px;
    text-decoration: none;
}

#add-section{
    background-color: transparent;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 5px 10px;
    text-decoration: none;
}

.checklist{
    color: rgb(60, 60, 60);
    width: 600px;
    margin: 0 auto;
}

ul{
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.title{
    font-size: 20px;
    font-weight: 700;
}

li{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    padding: 5px 0;
}

.box{
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 8px;
}

.editorial{
    background-color: dodgerblue;
}

.q1-goals{
    background-color: rgba(151, 39, 245, 0.8);
}

.recruiting{
    background-color: rgba(41, 185, 110, 0.8);
}

.mobile{
    background-color: rgba(255, 138, 0, 0.8);
}

.website{
    background-color: rgba(203, 76, 161, 0.8);
}

.sales{
    background-color: rgba(156, 207, 42, 0.8);
}

.green-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.red-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

