body{
    margin: 0;
    background-color: lightgray;
    color: grey;
}

header{
    background-color: white;
    height: 80px;
    padding: 10px;
}

.logo{
    height: 60px;
    margin-right: 10px;
}

h1{
    color: black;
    font-size: 40px;
    display: inline;
}

.container{
    width: 700px;
    height: 500px;
    background-color: white;
    margin: 40px auto;
    border-radius: 8px;
}

.container-header{
    border-bottom: 2px solid lightgray;
}

.container-container-header{
    width: 600px;
    margin: 0 auto;
    padding: 5px;
    }

.buttons{
    margin:  5px 0;
}

#add-task{
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    padding: 5px 10px;
}

#add-section{
    background-color: transparent;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 5px 10px;
}

.checklist{
    color: rgb(60, 60, 60);
    width: 600px;
    margin: 0 auto;
}

ul{
    font-size: 20px;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

li{
    font-size: 14px;
    margin-top: 5px;
}
